@charset "UTF-8";
// Default Variables
// Slick icon entity codes outputs the following
// "\2190" outputs ascii character "←"
// "\2192" outputs ascii character "→"
// "\2022" outputs ascii character "•"
$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: rgb(14, 102, 76) !default;
$slick-dot-color: #e6e6e6 !default;
$slick-dot-color-active: $slick-dot-color !default;
$slick-prev-character: "" !default;
$slick-next-character: "" !default;
$slick-dot-character: "\25FC" !default;
$slick-dot-size: 16px !default;
$slick-opacity-default: 1 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: 0.6 !default;
@function slick-image-url($url) {
    @if function-exists(image-url) {
        @return image-url($url);
    }
    @else {
        @return url($slick-loader-path + $url);
    }
}

@function slick-font-url($url) {
    @if function-exists(font-url) {
        @return font-url($url);
    }
    @else {
        @return url($slick-font-path + $url);
    }
}


/* Slider */

.slick-list {
    .slick-loading & {
        background: #fff slick-image-url("../css/slick/ajax-loader.gif") center center no-repeat;
    }
}


/* Icons */

@if $slick-font-family=="slick" {
    @font-face {
        font-family: "slick";
        src: slick-font-url("../slick/fonts/slick.eot");
        src: slick-font-url("../slick/fonts/slick.eot?#iefix") format("embedded-opentype"), slick-font-url("../slick/fonts/slick.woff") format("woff"), slick-font-url("../slick/fonts/slick.ttf") format("truetype"), slick-font-url("../slick/fonts/slick.svg#slick") format("svg");
        font-weight: normal;
        font-style: normal;
    }
}


/* Arrows */

.slick-prev,
.slick-next {
    z-index: 998;
    position: absolute;
    display: block;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none;
    &:hover,
    &:focus {
        outline: none;
        &:before {
            opacity: $slick-opacity-on-hover;
        }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
    &:before {
        font-family: $slick-font-family;
        font-size: 20px;
        line-height: 1;
        color: $slick-arrow-color;
        opacity: $slick-opacity-default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.banner-header,
.banner-mobil,
.slide-ramdom,
.slide-funcionalidades-home,
.slide-clientes-home,
.slide-paquetes-ecommerces,
.slide-soporte-basico,
.slide-soporte-intermedio,
.slide-soporte-backup,
.slide-testimonios,
.slick-images {
    .slick-prev {
        width: 35px;
        height: 35px;
        background-image: url('../img/izq.svg');
        @media (max-width: 576px) {
            width: 30px;
            height: 30px;
        }
    }
    .slick-next {
        width: 35px;
        height: 35px;
        background-image: url('../img/der.svg');
        @media (max-width: 576px) {
            width: 30px;
            height: 30px;
        }
    }
}

.banner-header,
.banner-mobil,
.slide-ramdom,
.slide-funcionalidades-home,
.slide-clientes-home,
.slide-paquetes-ecommerces,
.slide-soporte-basico,
.slide-soporte-intermedio,
.slide-soporte-backup,
.slide-testimonios,
.slick-images {
    .slick-prev {
        left: 6px;
        [dir="rtl"] & {
            left: auto;
            right: 104px;
        }
        &:before {
            content: $slick-prev-character;
            [dir="rtl"] & {
                content: $slick-next-character;
            }
        }
    }
    .slick-next {
        right: 6px;
        [dir="rtl"] & {
            left: 104px;
            right: auto;
        }
        &:before {
            content: $slick-next-character;
            [dir="rtl"] & {
                content: $slick-prev-character;
            }
        }
    }
}

.banner-mobil {
    .slick-slide {
        height: auto !important;
    }
}

.slide-header.slick-initialized.slick-slider,
.slide-marcas.slick-initialized.slick-slider {
    margin-bottom: 0 !important;
}

.banner-header .slick-slide {
    height: unset !important;
}

.slick-slider {
    margin-bottom: 0; 
}

/* Dots */

.slick-dots {
    position: absolute;
    bottom: 12px !important;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
    li {
        position: relative;
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
        button {
            border: 0;
            background: transparent;
            display: block;
            height: 20px;
            width: 20px;
            outline: none;
            line-height: 0px;
            font-size: 0px;
            color: transparent;
            padding: 5px;
            cursor: pointer;
            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: $slick-opacity-on-hover;
                }
            }
            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 20px;
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: 20px;
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}

.slick-dots {
    li {
        button {
            &:before {
                content: $slick-dot-character;
            }
        }
    }
}

.banner-header,
.banner-mobil,
.slide-ramdom,
.slide-funcionalidades-home,
.slide-clientes-home,
.slide-paquetes-ecommerces,
.slide-soporte-basico,
.slide-soporte-intermedio,
.slide-soporte-backup,
.slide-testimonios,
.slick-images {
    .slick-dots {
        li {
            height: 18px;
            width: 18px;
            button {
                height: 18px;
                width: 18px;
                &:before {
                    content: "";
                    height: 18px;
                    width: 18px;
                    background-color: nth($color-web, 1);
                    border: 2px solid nth($color-web, 4);
                    border-radius: 12px;
                    opacity: 1;
                }
            }
        }
        .slick-active {
            button {
                &:before {
                    background-color: nth($color-web, 4);
                    opacity: 1;
                }
            }
        }
    }
}