@import "variables/functions";
@import "variables/variables";
@import "variables/mixins";
@import "variables/mixinstransitions";

/* ====  AUTOR  ====

 nnnnnn  vvv  vvv 
nnn  nnn vvv  vvv 
nnn  nnn vvv  vvv 
888  nnn  vvvvvv  
nnn  nnn   vvvv 

Pagina web Diseñada y Desarrollada por:
nv | diseño gráfico

Website: http://www.nvdg.com.ar/
Email: nv.clientes@gmail.com
Facebook: https://www.facebook.com/nv.dg.face/
Twitter: https://twitter.com/nvgrafico/
Instagram: https://www.instagram.com/nv.dg/
Linkedin: https://www.linkedin.com/company/nv-dg/
Pinterest: www.pinterest.com/nvgrafico/
Google+: https://www.google.com/+NvdgArNv/

NOTA: en el archivo final subido en el host la ruta es:
../fonts/BioluzFont/ y no ../nv/fonts/BioluzFont

............................*/

// ====  MAIN  ====
@import "variables/fonts";