// === Tamaños ===
$height: ( 8px, 16px, 24px, 32px, 40px, 48px, 64px, 72px, 80px, 104px, 120px, 128px, 168px, 192px, 208px, 272px, 312px, 336px, 440px, 504px, 544px, 712px, 816px, 880px, 1152px, 1320px, 1424px, 1864px, 2136px, 2304px, 3016px, 3456px, 3728px);
$width: ( 4px, 8px, 12px, 14px, 16px, 20px, 24px, 28px, 32px, 40px, 42px, 52px, 64px, 70px, 84px, 104px, 112px, 136px, 168px, 182px, 220px, 272px, 294px);
// -- colores
$color-web: (#ffffff, #092211, #2A3E72, #E36673, #465A9E, #67686C, #00A830, #E9A88F, #FF0000, #ff00c8, #ff00c8, #ff00c8, #ff00c8, #ff00c8);
$font-web: ('Lato', 'Lato-Bold', 'Lato-Black', 'Lato-Light', 'Lato-Italic');
$color-app: (#E36673, #642C8A, #2A3E72, #2C8A7B, #318029);
// === COLUMNAS ===
$padding-column: rem(12px);
$margin-column: rem(-12px);
