/*
CSS para el envio del mail tanto para el cliente cuando sea necesario como para 
el uusuario encargado en el ecommerce
*/
/* 
    Created on : 13/08/2019, 06:44:49
    Author     : Pablo Flores
*/

.encabezado td {
    /*border-bottom: 4px solid #005aa0;*/
    border-bottom: 4px solid #aa4433;
}
.encabezado td img {
    width: 145px;
    margin: 11px;
}
.encabezado td h1 {
    font-family:  'OpenSans-Regular', sans-serif;
    font-size: 1.2rem;
    /*color: #005aa0;*/
    color:#aa4433;
    margin-top: 0.7rem;
    text-align: center;
}


.estado-pedido td img {
    width: 100px;
    margin: 44px 11px 11px 11px;
}
.estado-pedido td h2 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 1.5rem;
    /*color: #005aa0;*/
    color:#000;
    margin-top: 1rem;
    font-weight: normal;
    text-align: center;
}

.datos-pedido td {
    width: 100%;
}
.datos-pedido td table {
    margin: 44px 66px;
}
.datos-pedido td table tr {
    vertical-align: top;
    background-color: #fff;

}
.datos-pedido td table tr td.titulo-tabla-pedido {
    /*background-color: #BF6C20;*/
    background-color: #fff;
    /*border-bottom: 2px solid #fff;*/
    border-bottom: 2px solid #BF6C20;

}
.datos-pedido td table tr td:first-child {
    width: 30%;
}
.datos-pedido td table tr td h2 {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 1.2rem;
    /*color: #fff;*/
    color: #BF6C20;
    margin-top: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
    text-align: center;
}
.datos-pedido td table tr td h5 {
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 11px;
    font-size: 0.9rem;
    color: #333333;
    font-weight: lighter;
    text-align: left;

}
.datos-pedido td table tr td p {
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 11px;
    font-size: 0.9rem;
    color: #337ab7;
    font-weight: bold;
    text-align: left;
}
.datos-pedido td table tr td p.puntos{

    font-family: 'OpenSans-Regular', sans-serif;
    margin: 11px;
    font-size: 1.3rem;
    color: #aa4433;
    font-weight: bold;
    text-align: right;
}
.datos-pedido td table tr td a {
    display: block; 
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 11px;
    font-size: 0.9rem;
    color: #404040;
    font-weight: normal;
    text-align: left;
    cursor:pointer;
}
.vendedor-pedido td p{
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 11px;
    font-size: 0.9rem;
    color: #404040;
    font-weight: normal;

}
.fecha-pedido  td p{
    font-family: 'OpenSans-Regular', sans-serif;
    margin: 11px;
    font-size: 0.9rem;
    color: #404040;
    font-weight: normal;

}
.descarga td a {
    background-color: #3282bf;
    font-family: 'OpenSans-Regular', sans-serif;
    padding: 11px;
    text-decoration: none;
    display: table;
    border-radius: 50px;
    margin: 0 0 44px 0;
    font-size: 0.9rem;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

.footer {
    margin-top:120px;		
    background-color: #f7a832;
}
/*.footer td img {
    width: 150px;
    padding: 11px;
}*/
.footer td h4 {
    font-family:  'OpenSans-Regular', sans-serif;
    font-size: 1rem;
    color: #fff;
    font-weight: normal;
    /*margin-bottom: 0;*/
    text-align: center;
    width: 100%;
    margin-left:6%;
}
.footer td h4 a{
    color:#fff;
    text-decoration: none;
    cursor:pointer;
}
.footer td p {
    font-family:  'OpenSans-Regular', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    font-weight: normal;
    margin-bottom: 22px;
    padding-top: 22px;
    text-align: center;
}
.footer td p a{
    color:#fff;
    text-decoration: none;
    cursor:pointer;
}
.administranet {
    background-color: #005aa0;
}
.administranet td p {
    text-align: center;
    font-family:  'OpenSans-Regular', sans-serif;
    font-size: 0.8rem;
    color: #fff;
    font-weight: normal;
    margin-top: 11px;
}
.administranet td p a{
    color:#fff;
    text-decoration: none;
    cursor:pointer;
}
.administranet td img {
    width: 110px;
    margin-bottom: 11px;
}